h1{
	line-height:36px;
}
#headerimg div.feature-post {
	float:left;
	height:197px;
	margin-right:4px;
	margin-top:-8px;
	width:288px;
}
#bg {
background-image:none;
}
div.entry div.blog-pic img {
width:695px;
}
div#slideshow{
display:none;
}
